@import 'styles'

.menuContainer
  position: absolute
  bottom: 4vh
  right: 4vh

  .menuButton

.menu
  +gradient($darker, $dark, 40% 100%, 60% 0%)
  height: 600px
  width: 400px
  border-radius: 20px
  top: 20px
  transform: translateY(-20px) !important

  .labelField
    margin: 10px
    .labelFieldTitle
      color: $white

.popover
  position: inherit !important