.container
  display: flex
  flex-direction: column

  .header
    display: flex
    margin-bottom: 10px
    flex-direction: row

    .title
      flex-grow: 1
      padding: 3px

.field
  display: flex
  flex-direction: column
  padding: 2px
  cursor: text

  .list
    display: flex
    flex-direction: row
    flex-wrap: wrap

    .chip
      margin: 2px

  .input
    display: flex
    &::before
      content: none
    &::after
      content: none